/* Font import  */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");
 
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nunito", sans-serif;
	color: #ffffff;
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal
}

/* Earthling Logo animation */
.earthling_svg {
   fill: white;
   color:#fff;
   height: 3rem;
   width: 3rem;
}

.earthling_svg:hover .earthling_antenna{
   animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave{
   0%,100%{transform:rotate(0)}
   20%,60%{transform:rotate(-10deg)}
   40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
   .earthling_svg:hover .earthling_antenna{animation:none}
   .earthling_svg .earthling_antenna{animation:octocat-wave 560ms ease-in-out}
}

/* Waves SVG */
.waves {
    position: relative;
    background: #343a40;
    color: #FFF;
    text-align: center;
    overflow: hidden;
}

.waves svg {
    display: block;
}

/* Te */
 /* The animation code */
 @keyframes change-color {
    0%  {color: #0099ff;}
    33%  {color: #ffc107;}
    66%  {color: #dc3545;}
    100%  {color: #0099ff;}
}

@keyframes yellow2blue {
    from {color: #0099ff;}
    to {color: #ffc107;}
}

/* The element to apply the animation to */
.colored-text {
    animation-name: change-color;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
} 